.App {
  padding: 20px 50px ;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card-content-position{
  float: right;
}

.card-content-temp{
  float: left;
}

.MuiPaper-root.MuiCard-root{
  background-color: #fff1fe;
}

.right {
  float: right;
}

.display_position{
  display: flex;

}

.MuiPaper-root{
  margin-right: 20px;
}

.temperature{
  background-color: #fff1fe;
  border: none;
  opacity: 0.7;
  font-size: 20px;
}

.MuiButtonBase-root .makeStyles-media-5{
  height: 80px;
}

stop{
  stop-color: rgba(255, 113, 91, 0.45);;
}
